<p>home works!</p>

<div class="mx-auto" style="width: 50vw">
  <div class="row">
    <div class="col-2 text-center">
      <img class="rounded-circle" src="https://via.placeholder.com/150/F4C430/000000?text=R"/>
      <a routerLink="/roadmap">Roadmap</a>
    </div>
    <div class="col-2">
      <img class="rounded-circle" src="https://via.placeholder.com/150/0000FF/808080?Text=R"/>
    </div>
    <div class="col-2">
      <img class="rounded-circle" src="https://via.placeholder.com/150/0000FF/808080?Text=R"/>
    </div>
    <div class="col-2">
      <img class="rounded-circle" src="https://via.placeholder.com/150/0000FF/808080?Text=R"/>
    </div>
    <div class="col-2">
      <img class="rounded-circle" src="https://via.placeholder.com/150/0000FF/808080?Text=R"/>
    </div>
  </div>
</div>
